@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  cursor: none !important;
}

html {
  margin: 0;
  height: 100%;
}

body {
    margin: 0;
    padding: 0;

    background: #1A1A1A;
    font-family: 'Poppins', sans-serif;

    overflow: hidden;
}

#invitation-code {
  background: #F9DC5C;
  
  height: 5rem;
  text-align: center;
  vertical-align: middle;
  line-height: 5rem;
  color: #1A1A1A;
  font-weight: bolder;
}

.invisible {
  display: none !important;
}

#code-button-container {
  display: flex;
  width: 5rem;
  margin: auto;
  justify-content: space-between;
}

#copy {
  background-image: url("./icons/copy.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

#join {
  background-image: url("./icons/join.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

.small-button {
  width: 2rem;
  height: 2rem;
  background: #ED254E;

  text-align: center;
  vertical-align: middle;
  line-height: 2rem;
  color: white;
  font-weight: bold;

  transition: all .2s ease-in-out;
}

#prevBtn {
  width: 3rem !important;
  height: 3rem !important;
  line-height: 3rem !important;
}

#nextBtn {
  width: 3rem !important;
  height: 3rem !important;
  line-height: 3rem !important;
}

.small-button:hover {
  background: #b11c3a;
}

#container-box {
    margin: auto;
    padding-top: 5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 70%;
    height: 100%;
}

.user-container {
    width: 15rem;
    height: 15rem;
    background: gray;

    color: white;
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    vertical-align: middle;
    line-height: 15rem;

    transition: all .2s ease-in-out;
}

.user-container:hover {
    background: #ED254E;
    color: #F9DC5C;
    box-shadow: .5rem .5rem black;
}

#control-container {
  margin: auto;
  margin-top: 4rem;
  width: 70%;
  height: 20rem;
  background: #505050;

  position: relative;
  overflow: hidden;
}

#controls {
  display: flex;
  width: 20%;
  margin: auto;
  justify-content: space-between;
}

#accessBtn {
  color: white;
  background: #ED254E;
  font-weight: bold;

  width: 8rem;
  height: 3rem;

  text-align: center;
  vertical-align: middle;
  line-height: 3rem;
}

#accessBtn:hover {
  background: #b11c3a;
}

.pointer {
  position: absolute;
  background: #F9DC5C;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  z-index:10000;
}

#player {
  width: 100%;
  height: 20rem;
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 15rem;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0, 0, 0, 0.7); 
  }
  
  .modal-content {
    background-color:  rgb(228, 228, 228);
    color: #1A1A1A;
    margin: auto;
    padding: 20px;
    border: 2px solid #ED254E;
    width: 30%;
  }
  
  .close {
    color: #505050;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
  }

#chat-window {
  position: fixed;
  bottom: 2rem;
  left: 0;

  width: 22.75rem;
  height: 25rem;

  background: white;
}

#messages { list-style-type: none; margin: 0; padding: 0; }
#messages > li { padding: 0.5rem 1rem; }
#messages > li:nth-child(odd) { background: #efefef; }

  #chat-input {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 20rem;
  height: 2rem;
}

#send {
  position: fixed;
  bottom: 0;
  left: 20.4rem;

  width: 2.4rem;
  height: 2.4rem;
  background-image: url("./icons/send.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

#notifications {
  display: flex;
  flex-direction: column-reverse;

  position: fixed;
  bottom: 2rem;
  right: 4rem;

  width: 20rem;
  height: 50rem;

  list-style-type: none;
  margin: 0;
  padding: 0;

  pointer-events: none;
}

#messageToast {
  background: #ED254E;
  color: white;

  text-align: center;
  vertical-align: middle;
  line-height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;

  width: 20rem;
  height: 3rem;
  margin-top: 1rem;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-shadow: 1rem 0 2rem black;
}